<div class=" col-sm-9">
	<ng-include src="'partials/inc.crumbs.html'"></ng-include>

	<div class="row">
		<div class=" col-sm-4">

			<div class="widget-header">
				<h4>Active Rooms</h4>
			</div>

			<div class="widget-toolbox">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs"><i class="icon-plus-sign-alt"></i> create</button>
					<button type="button" class="btn btn-default btn-xs"><i class="icon-bullhorn"></i> broadcast</button>
				</div>
				<input type="text" class="form-control input-sm" placeholder="filter" ng-model="roomFilter">
			</div>

			<div class="widget-body">

				<!-- repeat .item -->
				<div ng-repeat="room in rooms | filter:roomFilter" class="item">
					<div class="name">
						<a href="" ng-click="selectRoom()">{{room.name}}</a>
					</div>
					<div class="text">
						<i class="icon-group"></i>
						<span ng-repeat="participant in room.participants">{{participant.displayName}}, </span>
					</div>
				</div>

			</div>
			
		</div>

		<div class=" col-sm-8">
			<carousel interval="-1">
				<slide ng-repeat="room in rooms" class="room-box" id="room-box-{{room.id}}" active="room.active">
					<chat-room ng-model="room.id"></chat-room>
				</slide>
			</carousel>
		</div>

	</div>

</div>