<div>	
	<tabset>
		<tab>

			<tab-heading>
				<i class="icon-comment blue"></i>
				{{roomData.title}}
			</tab-heading>

			<div class="widget-body">
				<div class="conversation" id="conversation-{{roomData.id}}">

					<!-- repeat .item -->
					<div ng-repeat="message in roomData.messages" class="item">

						<div class="row">
							<div class="col-sm-12">
								<small><a href="#/contacts#{{message.fromId}}">{{message.displayName}}</a> <span class="label label-info">{{message.role}}</span></small>
							</div>
						</div>
						<div class="row">
							<div class="user col-sm-2">
								<img ng-src="{{message.imageUrl}}" />
							</div>
							<div class="body col-sm-10" id="{{message.id}}">
								<div class="text">{{message.body}}</div>
								<div class="meta text-muted">
									<small><i class="icon-time"></i> {{message.at}} <span class="badge" ng-repeat="tag in message.tags">{{tag}}</span></small>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="widget-toolbox">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs"><i class="icon-plus-sign-alt"></i> invite</button>
					<button type="button" class="btn btn-default btn-xs"><i class="icon-envelope"></i> summarize</button>
				</div>

				<form class="form-inline" role="form" ng-submit="send()">
					<div class="form-group">
						<input placeholder="Type your message here ..." type="text" class="form-control input-sm" ng-model="msgInput[roomData.id]" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default btn-sm">Send</button>
					</div>
				</form>
			</div>

		</tab>

		<tab>
			<tab-heading>
				Timeline
			</tab-heading>

			<div class="widget-body">
				Content
			</div>
		</tab>

		<tab>
			<tab-heading>
				Files
			</tab-heading>

			<div class="widget-body">
				Content
			</div>
		</tab>

		<tab>
			<tab-heading>
				Tags
			</tab-heading>

			<div class="widget-body">
				Content
			</div>
		</tab>
	</tabset>
</div>
